<a
  style="cursor: pointer;"
  [ngClass]="itemStyle()"
  [routerLink]="conference.id"
  [ngbPopover]="conference.desc"
  placement="bottom"
  triggers="mouseover:mouseleave">
  <h5 class="mb-1">{{ conference.name }}</h5>
  <p class="mb-1">
    <small class="text-muted">
      {{ conference.startdate }} - {{ conference.enddate != '' ? conference.enddate : '(blank)' }}
      <a class="text-right"
        [href]="conference.url"
        target="_blank"
        (click)="onClick($event)">link</a>
    </small>
  </p>
</a>
